*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h2{
    /* display: block;

    margin-left: auto;
    margin-right: auto; */
    /* background-color: red; */
    padding-top: 30vh;
    padding-bottom: 30vh;
    top: 0;
    padding-left: 20%;
    padding-right: 20%;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    text-align: center;
    letter-spacing: 12px;
    word-spacing: 10px;
    color: white;
    background: linear-gradient(rgb(182, 145, 97),rgb(241, 207, 165), #f0f0f0);
    
    /* line-break: strict; */
    /* cursor: default; */
    /* pointer-events: none; */
}
.missionStatement{
    padding-left: 0%;
    padding-right: 0%;
    color: rgb(170, 170, 170);
    background: #f0f0f0;
    margin-top: -110px;
    margin-bottom: -110px;
    font-size: 130%;
}
html{
    /* background-color: bisque; */
    pointer-events: none;
    background-color: #f0f0f0;
    /* background-image: url("CrownedByRoyals Images/UntitledCRBBackground2.png");
    background-attachment: fixed;
    background-size: cover; */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* height: 100%; */
    /* backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(0px); */
}
.statementImages{
    width: 90%; 
    margin-left: 5%; 
    box-shadow: 0px 30px 70px 0px gray; 
    /* box-shadow: 0px 30px 50px 0px rgba(58, 50, 29, 0.37);  */
    border-radius: 20px;
}
nav img{
    transition: box-shadow 0.3s ease-in-out;
}
nav img:hover{
    box-shadow: 0px 10px 20px 0px rgba(90, 76, 76, 0.582);
}

nav{
    pointer-events: all;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    font-family: Helvetica, sans-serif;
    font-weight: 1;

    /*Glass Panel*/
    background: rgba( 255, 255, 255, 0.25 );
    background-size: 10px;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 8px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 0px 0px 10px 3px rgba(58, 50, 29, 0.37);
    z-index: 1;
}

.logo{
    /* color: rgb(201, 201, 201); */
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    color: black;
}

.nav-links li{
    list-style: none;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links a{
    /* color: rgb(201, 201, 201); */
    color: white;
    text-decoration: none;
    letter-spacing: 3px;   
    /* font-weight: bold; */
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
}
.nav-links a:hover{
    color: darkgray;
}

.burger{
    display: none;
}
.burger div{
    width: 25px;
    height: 2px;
    /* background-color: rgb(201, 201, 201); */
    background-color: black;
    margin: 5px;
    transition: all 0.5s ease;
}

@media screen and (max-width: 1024px){
    .nav-links{
        width: 43%;
    }
}

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden; 
        /* so that there's no horizontal scrolling */
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 10vh;
        /* top: 0vh; */
        /* background-color: rgb(245, 207, 161); */
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;

        /*Glass Panel*/
        background: rgba( 255, 255, 255, 0.25 );
        background-size: 10px;
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 8px );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
    .logo{
        margin-left: -12.5%;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

/* Smaller Images about the company */

/* .smallImages img{
    width: 50%;
    margin-left: 15%;
} */
/* The Footer */

footer{
    /* background-image: linear-gradient(#eacda8, #d6ae9b,#d6ae9b); */
    /* background: linear-gradient(#F0F0F0,lightgray); */
    /* background: linear-gradient(bisque, rgb(241, 207, 165), rgb(182, 145, 97)); */
    background: linear-gradient(#f0f0f0,#f0f0f5, rgb(241, 207, 165), rgb(182, 145, 97));
    padding-bottom: 10px;
    padding-top: 90px;
}

.ContactInfoContainer{
    pointer-events: none;
    position: sticky;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0px;
    padding-left: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 90%;
    height: 80%;
    top: 1.5%;
    /* box-shadow: 0px 15px 30px 5px rgb(201, 200, 200); */
    /* box-shadow: 0px 15px 150px 5px rgb(180, 180, 180); */
    box-shadow: 0px 20px 20px 0px rgba(182, 145, 97, 0.192);

    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.moreInfo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-variant: small-caps; */

    display: inline-block;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    
    /* box-shadow: 0px 0px 4px 0px rgba(58, 50, 29, 0.37); */
    box-shadow: 0px 20px 20px 0px rgba(182, 145, 97, 0.103);
    border-radius: 20px;
    background: rgba( 255, 255, 255, 0.25 );
    background-size: 10px;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 2px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.moreInfo h3{
    font-family: Helvetica, sans-serif;
    font-weight: 900;
    font-size: 12px;
    padding-top: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    /* color: black; */
    color: rgb(182, 145, 97);

    line-height: 40px;
    font-variant: normal;
}

.bottomLinks{
    padding: 13px;
}
.pageLinks{
    color: black;
}
.pageLinks:hover{
    color: gray;
}

.links{
    /* pointer-events: all; */
    color: black;
    font-weight: 0;
}

a:link{
    text-decoration: none;
}
.links:hover{
    /* background-color: #d6249f; */
    /* box-shadow: 0px 0px 4px 0px rgba(58, 50, 29, 0.37); */
    color: darkgray;
}

.fa-twitter{
    color: #0099CC;
}

.fa-instagram{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 7px;
    position: relative;
}
.fa-facebook-square{
    color: #3b5998;
    background-image: linear-gradient( to bottom, transparent 20%, white 20%, white 93%, transparent 93% );
    background-size: 0;
    background-position: 70% 0;
    background-repeat: no-repeat;
}