*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

nav img{
    transition: box-shadow 0.3s ease-in-out;
    /* box-shadow: 0px 1px 5px 0px rgba(90, 76, 76, 0.582); */
}
nav img:hover{
    box-shadow: 0px 10px 20px 0px rgba(90, 76, 76, 0.582);
}

nav{
    z-index: 1;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    font-family: Helvetica, sans-serif;
    font-weight: 1;

    /*Glass Panel*/
    background: rgba( 255, 255, 255, 0.25 );
    background-size: 10px;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 8px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 0px 0px 10px 3px rgba(58, 50, 29, 0.11);
    pointer-events: all;
}

.logo{
    /* color: rgb(201, 201, 201); */
    /* color: white; */
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    pointer-events: all;
}

.nav-links li{
    list-style: none;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.nav-links a:hover{
    color: darkgray;
}

.nav-links a{
    /* color: rgb(201, 201, 201); */
    color: black;
    text-decoration: none;
    letter-spacing: 3px;   
    /* font-weight: bold; */
    font-size: 14px;
    padding-top: 0px;
    padding-bottom: 20px;
}

.burger{
    display: none;
}
.burger div{
    width: 25px;
    height: 2px;
    /* background-color: rgb(201, 201, 201); */
    background-color: black;
    margin: 5px;
    transition: all 0.5s ease;
}

@media screen and (max-width: 1024px){
    .nav-links{
        width: 43%;
    }
}

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden; 
        /* so that there's no horizontal scrolling */
    }
    
    .nav-links{
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 10vh;
        /* top: 0vh; */
        /* background-color: rgb(245, 207, 161); */
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;

        /*Glass Panel*/
        background: rgba( 255, 255, 255, 0.25 );
        background-size: 10px;
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 8px );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
    .logo{
        margin-left: -12.5%;
    }
    .backgroundCBR{
        height: 900px;
    }
    .parentImg .logo-text{
        /* background-color: red; */
        top: 0px;
        margin-top: 0vh;
    }
    .parentImg .logo-text .logoText{
        display: block;
        position: absolute;
        top: 0px;
        position: absolute;
        left: 0;
        padding: 0;
        margin-top: -10px;
        margin-top: 0;
        margin-left: 0%;
        margin-right: -10%;
        /* background-color: black; */
        
    }
    .parentImg .logo-text h3{
        /* width: 98%; */
        text-align: center;
        font-size: 30px;
        /* margin-top: -40%; */
        /* background-color: red; */
        /* padding-right: 5%; */
        /* padding-bottom: 10%; */
    }
    .parentImg .logo-text .logoInBody{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-top: 225px;
    }

    /* Second part for mobile */
    .parentImg2 .img2{
        margin-left: auto;
        margin-right: auto;
        display: block;
        overflow-x: hidden;
        width: 80%;

    }
    .parentImg2{
        /* background-color: rebeccapurple; */
        padding-bottom: 100px;
    }

    .parentImg2 .img2Text{
        display: block;
        margin-right: auto;
        margin-left: auto;
        padding-right: 0%;
        margin-top: 0%;
        text-align: center;
        font-size: larger;
    
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 10%;
    }

    /* Footer for mobile */
    footer{
        padding-top: 20%;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}



html{
    background-color: #F0F0F0;
    pointer-events: none;
    overflow-x: hidden;
    /* background-color: bisque; */
    /* background-image: url("CrownedByRoyals Images/UntitledCBRBackground.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(0px); */
}

.logoImg{
    position: relative;
    width: 300px;
    margin-left: 30%;
    margin-top: 60%;
    border-radius: 50%;
    box-shadow: 0px 15px 60px 1px rgba(58, 50, 29, 0.37);
    z-index: 1;
}

/* .parentImg ul li img{
    display: table;
    width: 100px;
    align-items: top;

} */
.parentImg .backgroundCBR{
    width: 100%;
    overflow-x: hidden;
}

.parentImg .logo-text{
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    padding-top: 2%;
    margin-top: 130px;
    z-index: 0;
    top: 0;
    position: absolute;
    /* margin-left: 10%; */
    padding-left: 5%;
    /* background-color: #e26429; */
}
.parentImg .logo-text img{
    
    width: 32%;
    border-radius: 50%;
    box-shadow: 0px 27px 50px 0px rgba(58, 50, 29, 0.37);
    /* border: 2px solid rgba( 255, 255, 255, 0.18 ); */

}
.parentImg .logo-text span{
    position: absolute;
    width: 100%;
    color: white;
    font-family: Helvetica, sans-serif;
    
    letter-spacing: 10px;
    font-size: 30px;
    text-align: left;
    padding-left: 25%;
    padding-right: 30%;
    text-transform: uppercase;

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 25%;
}



/* Second Part of the Image */
.parentImg2 img{
    /* position: absolute; */
    margin-left: 55%;
    /* margin-right: 10%; */
    margin-top: 50px;
    margin-bottom: 60px;
    
    border-radius: 20px;
    width: 40%;
    right: 0;
    box-shadow: 0px 30px 50px 0px rgba(58, 50, 29, 0.37); 
    /* border: 2px solid rgba( 255, 255, 255, 0.18 );   */
    
}

.parentImg2 h3{
    /* background-color: red; */
    position: absolute;
    margin-top: -55%;
    margin-left: 8%;
    font-size: 35px;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    letter-spacing: 10px;
    font-weight: 400;
    color: black;
    padding-right: 50%;
}

/* The Footer */

footer{
    /* background-image: linear-gradient(#eacda8, #d6ae9b,#d6ae9b); */
    /* background: linear-gradient(#F0F0F0,lightgray); */
    background: linear-gradient(#F0F0F0, lightgray, rgb(182, 145, 97));
    padding-bottom: 10px;
}

.ContactInfoContainer{
    
    position: sticky;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0px;
    padding-left: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 90%;
    height: 80%;
    top: 1.5%;
    /* box-shadow: 0px 15px 30px 5px rgb(201, 200, 200); */
    /* box-shadow: 0px 15px 150px 5px rgb(180, 180, 180); */
    box-shadow: 0px 20px 20px 0px rgba(182, 145, 97, 0.192);

    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.moreInfo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-variant: small-caps; */

    display: inline-block;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    
    /* box-shadow: 0px 0px 4px 0px rgba(58, 50, 29, 0.37); */
    box-shadow: 0px 20px 20px 0px rgba(180, 180, 180, 0.192);
    border-radius: 20px;
    background: rgba( 255, 255, 255, 0.25 );
    background-size: 10px;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 2px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.moreInfo h3{
    font-family: Helvetica, sans-serif;
    font-weight: 900;
    font-size: 12px;
    padding-top: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    /* color: black; */
    color: rgb(182, 145, 97);

    line-height: 40px;
    font-variant: normal;
}

.bottomLinks{
    padding: 13px;
}
.pageLinks{
    color: black;
}
.pageLinks:hover{
    color: gray;
}

.links{
    /* pointer-events: all; */
    color: black;
    font-weight: 0;
}

a:link{
    text-decoration: none;
}
.links:hover{
    /* background-color: #d6249f; */
    /* box-shadow: 0px 0px 4px 0px rgba(58, 50, 29, 0.37); */
    color: darkgray;
}

.fa-twitter{
    color: #0099CC;
}

.fa-instagram{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 7px;
    position: relative;
}
.fa-facebook-square{
    color: #3b5998;
    background-image: linear-gradient( to bottom, transparent 20%, white 20%, white 93%, transparent 93% );
    background-size: 0;
    background-position: 70% 0;
    background-repeat: no-repeat;
}