*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav img{
    transition: box-shadow 0.3s ease-in-out;
}
nav img:hover{
    box-shadow: 0px 10px 20px 0px rgba(90, 76, 76, 0.582);
}

nav{
    z-index: 1;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    font-family: Helvetica, sans-serif;
    font-weight: 1;

    /*Glass Panel*/
    background: rgba( 255, 255, 255, 0.25 );
    background-size: 10px;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 8px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 0px 0px 10px 3px rgba(58, 50, 29, 0.11);
}

.logo{
    /* color: rgb(201, 201, 201); */
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    
}

.nav-links li{
    list-style: none;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links a{
    /* color: rgb(201, 201, 201); */
    color: white;
    text-decoration: none;
    letter-spacing: 3px;   
    /* font-weight: bold; */
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.burger{
    display: none;
}
.burger div{
    width: 25px;
    height: 2px;
    /* background-color: rgb(201, 201, 201); */
    background-color: white;
    margin: 5px;
    transition: all 0.5s ease;
}

@media screen and (max-width: 1024px){
    .nav-links{
        width: 43%;
    }
}

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden; 
        /* so that there's no horizontal scrolling */
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 10vh;
        /* top: 0vh; */
        /* background-color: rgb(245, 207, 161); */
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;

        /*Glass Panel*/
        background: rgba( 255, 255, 255, 0.25 );
        background-size: 10px;
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 8px );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
    .logo{
        margin-left: -12.5%;
    }
    .childImg{
        width: 100%;
        margin-top: 35%;
        /* margin-left: 30%; */
        /* justify-content: center; */
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
    .childImg img{
        width: 20%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
    .backgroundCBR{
        height: 800px;
    }
    .parentImg .CBRText{
        padding: 0px;
        padding-right: 20px;
        padding-left: 20px;
        color: white;
        text-transform: uppercase;
        font-family: Helvetica, sans-serif;
        font-size: 40px;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

footer{
    background-image: linear-gradient(#eacda8, #d6ae9b,#d6ae9b);
    padding-bottom: 10px;
}

.ContactInfoContainer{
    position: sticky;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0px;
    padding-left: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 90%;
    height: 80%;
    top: 1.5%;
    /* box-shadow: 0px 15px 30px 5px rgb(201, 200, 200); */
    /* box-shadow: 0px 15px 150px 5px rgb(180, 180, 180); */

    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.moreInfo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant: small-caps;

    display: inline-block;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    
    /* box-shadow: 0px 0px 4px 0px rgba(58, 50, 29, 0.37); */
    border-radius: 20px;
    background: rgba( 255, 255, 255, 0.25 );
    background-size: 10px;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 2px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.bottomLinks{
    padding: 15px;
}

html{
    background-color: #F0F0F0;
    /* background-color: bisque; */
    /* background-image: url("CrownedByRoyals Images/UntitledCBRBackground.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(0px); */
}

.logoImg{
    position: relative;
    width: 300px;
    margin-left: 30%;
    margin-top: 60%;
    border-radius: 50%;
    box-shadow: 0px 15px 60px 1px rgba(58, 50, 29, 0.37);
    z-index: 1;
}

.parentImg{
    pointer-events: none;
    width:100%;
    position:absolute;
    z-index:0;
}

.childImg{
    position: absolute;
    z-index:1;
    top: 0;
    /* right: 0; */
}

.CBRText{
    z-index: 0;
    position: absolute;
    top: 0;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    padding: 80px;
    padding-left: 450px;
    letter-spacing: 10px;
    margin-top: 150px;

    color: white;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    font-size: 40px;
}

.parentImg .inspirationImg{
    /* padding-left: 40px; */
    width: 50%;
    border-radius: 10px;
}